.registration-content .registration-container {
  width: 500px;
  margin: 0 auto;
  margin-top: 50px;
  border: 1px solid #ced4da;
  padding: 25px;
}

.registration-content
.registration-container
.registration-form-container
form .input-item-container {
  margin-bottom: 10px;
}